.displayFlex{
    display: flex;
}
.flexDirectionC{
    flex-direction: column;
}
.displayJustifyContentC
{
    justify-content: center;
}
.displayJustifyContentSpaceB
{
    justify-content: space-between;
}
.alignContent{
    align-content: center;
}
.alignItemsE{
    align-items: flex-end;
}
.justifyItems{
    justify-items: center;
}
.alignSelfE{
    align-self: end;
}
.alignSelfC{
    align-self: center;
}
.flexWrap{
    flex-wrap: wrap;
}

.floatRight{
    float: right;
}

.floatLeft{
    float: left;
}
.divMain{
    background-color: #929191;
    height: 100% ;
    width: 100%;
}
.divCard{
    background-color: #d7d6d6;
    height: auto;
    width: 300px;
    margin: 10px;
    overflow-wrap: break-word;
    overflow-y: auto;
    text-justify: newspaper;
}
.img1 {
    height: 200px;
    width: 150px;
    margin: 5px;
}
.img2{
    width: 150px;
    height: 50px;

    }
.m-5{
    margin: 5px;
}
.p-10{
    padding: 10px;
}
input{
    font-family: Arial;
    margin-top:30px;
    width: 200px;
    border: none;
    border-radius: 5px;
    background-color: #d7d6d6;
}
textarea{
    font-family: Arial;
    margin-top: 10px;
    height: 200px;
    border: none;
    border: none;
    border-radius: 5px;
    background-color: #d7d6d6;

}
input, textarea:focus{
    outline:none;
}
button{
    font-family: Arial;
    margin: 10px 0px;
    width :150px;
    border-radius: 5px;
}
.b-10{
    border: 10px solid #929191;
    margin-top: 0px;
    margin-right: 5px;
    margin-bottom: 0px;
}